:root{
    --cell-size: 2.5vw;
    --block-cell-size: 2.5vw;
    --block: 2.5vw;
    --game: 30vw;
}

h1, h3{
    font-family: "Verdana", Geneva, sans-serif;
    color: black;
}

.game {
    position: absolute;
    left: 35vw;
    width: auto;
    height: auto;
    padding: 1vw;
}

.imageBackground {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -50;
    opacity: 50%;
}

.infos {
    position: absolute;
    width: 30vw;
    height: 30vw;
    display: inline-block;
    top: 7vw;
    left: 25vw;
}

.infos2 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    display: inline-block;
    top: 7vw;
    left: 60vw;
}

.cellRow{
    display: block;
}

.cell{
    height: var(--cell-size);
    width: var(--cell-size);
    display:inline-block;
    background-color: black;
}

.clear{
    border-style:solid;
    background-color: white;
    height: 100%;
    width: 100%;
    opacity: 50%;
}

.set{
    border-style:solid;
    background-color: blue;
    height: 100%;
    width: 100%;
}

.blocks{
    position: absolute;
    left:23.5vw;
    top:32vw;
    width: auto;
    height: auto;
}

.block{
    float: left;
    width: 13vw;
    height: 13vw;
    margin: 0.3vw;
    padding: 1vw;
    background-color: grey;
    box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.3)
}

.blockCell{
    height: var(--block-cell-size);
    width: var(--block-cell-size);
    display: inline-block;


}

.blockSet{
    border-style: solid;
    background-color: blue;
    height: 100%;
    width: 100%;

}

.about {
    height: 100%;
    width: 100%;
    margin: 1em;
    font-size:14px;
    font-family: "Verdana",Geneva, sans-serif;
    color:black;
    position: relative;
}

#text {
    font-family: "Verdana",Geneva, sans-serif;
    color:black;
    font-size: 18px;
}

