@(controller:de.htwg.se.blockpuzzle.controller.Controller)
@size= @{ controller.fieldsize }

<body>
@main("HTWG Block Puzzle") {
    @*Section for Count and Highscore*@
    <div class="game">
        <h1>HTWG Block Puzzle</h1>
        @for(col <- 1 to size){
            <div class="cellRow">
            @for(row <- 1 to size) {
                <div class="cell">
                @if(controller.getCellStatusAtField(row,col)==0){<div class="clear"></div>
                }else{ <div class="set"></div> }
                </div>
            }
            </div>
        }
    </div>
    @*Section for the 3 Blocks*@
    <div class="blocks">
        <div class="block">
        @for(col <- 0 until controller.b1.blockmaxy){
            <div class="cellRow">
            @for(row <- 0 until controller.b1.blockmaxx) {
                <div class="blockCell">
                @if(controller.getCellStatusAtBlock(1,row,col)==0){<div class="blockClear"></div>
                }else{ <div class="blockSet"></div> }
                </div>
            }
            </div>
        }
        </div>
        <div class="block">
        @for(col <- 0 until controller.b2.blockmaxy){
            <div class="cellRow">
            @for(row <- 0 until controller.b2.blockmaxx) {
                <div class="blockCell">
                @if(controller.getCellStatusAtBlock(2,row,col)==0){<div class="blockClear"></div>
                }else{ <div class="blockSet"></div> }
                </div>
            }
            </div>
        }
        </div>
        <div class="block">
        @for(col <- 0 until controller.b3.blockmaxy){
            <div class="cellRow">
            @for(row <- 0 until controller.b3.blockmaxx) {
                <div class="blockCell">
                @if(controller.getCellStatusAtBlock(3,row,col)==0){<div class="blockClear"></div>
                }else{ <div class="blockSet"></div> }
                </div>
            }
            </div>
        }
        </div>
    </div>
    @*Section for Count and Highscore*@
    <div class="BlockPuzzleController">
        <div class="infos">
            <div id="text">
            @{"Count: "+controller.returnCount}
            </div>
            <div id="text">
            @{"Highscore: "+controller.returnHighscore}
            </div>
        </div>
        <div class="infos2">
            <div id="text">
                Last action: @{controller.statusText}
            </div>
        </div>
    </div>
}
</body>
<div class="center">
        <img class="imageBackground" src=@routes.Assets.versioned("images/background.jpg")>
    </div>