@()

@main("Block Puzzle") {
    @*<script src='@routes.Assets.versioned("javascripts/bootstrap.min.js")'> </script>*@
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">HTWG Block Puzzle</a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
        data-target="#navbarNav" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">New Game</a>
            </div>
        </div>
    </nav>
        <h1>Block Puzzle Regeln</h1>
            <p>Block Puzzle ist ein Spiel basierend auf dem Spiel <a href="https://de.wikipedia.org/wiki/Tetris">Tetris</a>. </p>
            <p>Es werden jeweils 3 Blöcke angezeigt, welche in einem Spielfeld mit 8x8 Feldern platziert werden müssen.
                Ziel des Spiels ist es Reihen oder Spalten durchgehend mit den Blöcken zu füllen. </p>
            <p>Sobald eine Reihe oder Spalte
                gefüllt ist verschwindet sie, wie bei Tetris.</p>
            <p>Das Spiel ist ein Endlosspiel, es gibt kein natürliches Ende. Für das plazieren der Blöcke kann man sich so
                viel Zeit nehmen wie man will. </p>
            <p>Beendet ist das Spiel entweder wenn keine Lust mehr hat oder wenn
                keine Blöcke im Spielfeld mehr platziert werden können</p>
            <p>Man startet mit einem leeren Spielfeld und 3 zufällig generierten Blöcken: <br><br>
                <div class="col-xl-4 col-md-6">
                    <img class="exampleImage" src=@routes.Assets.versioned("images/Blockpuzzle.png")>
                </div>
            <p>
                Danach kann man die Blöcke frei auf dem Spielfeld verteilen, wenn alle 3 Blöcke verteilt wurden, entstehen 3 neue Blöcke.
            </p>

    </div>
}

